*{
    box-sizing:border-box;
    padding-top:20px;
}
#box{
   height:500px;
   width:500px;
   border: 1px solid black;

   
}

#red,#yellow,#pink,#brown{
    height:50px;
    width:80px;
    margin:10px;

}


